pandas 2.2.2

pandas — это пакет Python, который предоставляет быстрые, гибкие и выразительные структуры данных,
 разработанные для того, чтобы сделать работу с «реляционными» или «помеченными» данными одновременно
 простой и интуитивно понятной.

https://pypi.org/project/pandas/
